<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huanxian.dao.SpProductTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huanxian.entity.SpProductT">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="pic" property="pic" />
        <result column="intro" property="intro" />
        <result column="url" property="url" />
        <result column="time" property="time" />
        <result column="status" property="status" />
        <result column="modify_user" property="modifyUser" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, title AS title, price AS price, pic AS pic, intro AS intro, url AS url, time AS time, status AS status, modify_user AS modifyUser, modify_time AS modifyTime
    </sql>

	 <update id="batchDel" parameterType="java.util.List">
    	update sp_product_t set STATUS = 3 where id in 
    	<foreach collection="ids" close=")" item="item" open="(" separator=",">#{item}</foreach>
    </update>

</mapper>
